body {
    margin: 3% 25%;
}

p {
    text-align: justify;
}

.header {
    text-align: center;
}

.bar {}

.subsubheader {
    display: flex;
    justify-content: space-between;
    font-size: large;
}